.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Label */


/* Input Field */
.input-field {
  @apply bg-slate-50 border rounded-full py-2 px-3 mb-4 text-gray-700 w-72; /* Use text-gray-700 instead of text-grey-darker */
}

/* Button */
.btn {
  @apply bg-[#4743E0] text-white px-8 py-2 rounded-full;
}

/* Label */
.label {
  @apply lg:ml-2 mb-2 px-2 text-black;
}

.double-input-label {
  @apply flex flex-col mb-4 lg:flex-row justify-between;
}

.single-input-label{
  @apply flex flex-col lg:flex-row ; 
}
