@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.input-field {
  @apply bg-slate-50 justify-end border rounded-full py-2 px-3 mb-4 text-gray-700 w-72; /* Use text-gray-700 instead of text-grey-darker */
}

/* Button */
.btn {
  @apply bg-[#4743E0] text-white px-8 py-2 rounded-full;
}

/* Label */
.label {
  @apply justify-start lg:ml-2 mb-2 px-2 text-black ;
}

.double-input-label {
  @apply flex flex-col mb-4 lg:flex-row;
}

.single-input-label{
  @apply flex flex-col lg:flex-row items-center; 
}